*{
  a{
    text-transform: none;
    color: inherit;
    &:hover{
      color: inherit;
    }
  }
}
.ant-modal{
  width: 800px!important;
  .ant-modal-content{
    height: auto;
    border-radius: 5px!important;
    .ant-modal-body{
      display: flex;
      .box{
        width: 50%;
        .upload-image{
          overflow: hidden;
          background: #F5F5F7;
          border: 1px solid #CDCDCD;
          width:110px;
          height: 120px;
          border-radius: 8px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1px!important;
          .img-in-upload1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
          }
          .img-in-upload{
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
          .img-file-up{
            cursor: pointer;
            border-radius: 50%;
            box-sizing: border-box;
            opacity: 0;
            width:100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid red;
            background-color: white!important;
          }
        }
      }
    }
    .ant-modal-title{
      font-weight: 600;
      font-size: 28px;
      text-align: center;
    }
    .ant-input-affix-wrapper{
      height: 34px;
      margin: 10px 0;
      border: 1px solid green;
    }
    .ant-select{
      width: 100%;
      height: 34px;
      margin: 10px 0;
      border: 1px solid green;
    }
    .ant-space{
      width: 100%;
      height: 34px;
      justify-content: space-between;
      margin: 10px 0;
      .ant-space-item{
        height: 100%;
        &:nth-of-type(1){
          width: 95%;
          border: 1px solid green;
        }
      }
    }
    .ant-space-item{
      width: 100%!important;
    }
    .ant-picker{
      width: 100%;
      height: 34px;
      border-bottom: 1px solid green;
    }
    .form-control{
      width: 100%;
      height: 34px;
      margin: 10px 0;
      border: 1px solid green;
      border-radius: 0!important;
    }
  }
}

.AddTicher{
  select{
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    &:focus {
      border: none;
      outline: none;
    }
  }
}

.loding {
  background: white;
  width: 116%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -16%;
  z-index: 100;
  .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #24743c;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #24743c;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: 150px;
      height: 150px;
      border: 3px solid transparent;
      border-top: 3px solid #24743c;
      border-right: 3px solid #24743c;
      border-radius: 50%;
      animation: animateC 2s linear infinite;
    }

    span {
      display: block;
      position: absolute;
      top: calc(50% - 2px);
      left: 50%;
      width: 50%;
      height: 4px;
      background: transparent;
      transform-origin: left;
      animation: animate 2s linear infinite;

      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #24743c;
        top: -6px;
        right: -8px;
        box-shadow: 0 0 20px #24743c;
      }
    }
  }
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

