*{
  padding: 0;
  margin: 0;
}
.Enter{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1B6B50;
  background-image: url("../img/politex_img1.svg");
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: 50% 50%;
  overflow: hidden!important;
  box-sizing: border-box;
  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 30px 0 40px 0;
    color: #FFFFFF;
    opacity: 0.68;
  }

  .Signbox {
    width: 496px;
    min-height: 500px;
    margin: 80px auto 0 auto;

    .Logo {
      width: 173px;
      height: 173px;
      display: flex;
      margin: 0 auto;

    }

    input {
      height: 50px;
      padding: 0 72px 0 22px;
      color: white;
      position: relative;
      z-index: 100;
      background: rgba(112, 190, 163, 0.51);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
      border-radius: 40px;
      border: none;
      margin-bottom: 26px;

      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
      }
    }

    .loginbtn{
      cursor: pointer;
      height: 50px;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0 4px 12px rgba(27, 107, 80, 0.06);
      border-radius: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #1B6B50;
      z-index: 1000;
      transition: 0.4s linear;
      &:hover{
        background:#1B6B50;
        color: white;
        transition: 0.4s linear;
      }
    }
  }

  .GroupImg {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
  }
  .footer{
    position: absolute;
    width: 100%;
    bottom: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    padding: 0 60px;

    button{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 300px;
      background: #FFFFFF;
      box-shadow: 0 4px 12px rgba(27, 107, 80, 0.06);
      border-radius: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #1B6B50;
      transition: 0.4s linear!important;
      padding: 0;
      &:hover{
        background:#1B6B50;
        color: white;
        transition: 0.4s linear!important;
      }

      a{
        width: 100%!important;
        height: 100%!important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 576px){
  .Enter{
    background-size: 150% 100%;
    background-position: 50% 50%;
    min-height: 667px;
    h3 {
      padding: 10px;
      font-size: 22px;
      line-height: 28px;
      margin:20px 0 0 0!important;
    }

    .Signbox {
      width: 100%;
      padding: 0 15px;
      min-height: 320px;
      margin: 30px auto 0 auto;

      .Logo {
        width: 100px;
        height: 100px;
      }

      input {
        margin-top: 20px;
        height: 45px;
        padding: 0 72px 0 22px;
        border-radius: 40px;
        margin-bottom: 26px;
        font-size: 18px;

        &::placeholder {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .loginbtn{
        height: 45px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .GroupImg {
      display: none;
    }
    .footer{
      padding: 0 60px;
      bottom: -9%;
      z-index: 100;
      justify-content: center;
      position: relative;
      button{
        height: 50px;
        width: 300px;
        border-radius: 40px;
        font-size: 16px;
        line-height: 21px;
        &:nth-of-type(2){
          display: none;
        }
        a{
          width: 100%!important;
          height: 100%!important;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .Enter{
    background-size: 140% 100%;
    background-position: 50% 50%;
    min-height: 800px;
    h3 {
      padding: 10px;
      font-size: 25px;
      line-height: 28px;
      margin: 20px 0;
    }

    .Signbox {
      width: 496px;
      min-height: 450px;
      margin: 50px auto 0 auto;

      .Logo {
        width: 153px;
        height: 173px;
      }

      input {
        height: 50px;
        padding: 0 72px 0 22px;
        border-radius: 40px;
        margin-bottom: 26px;

        &::placeholder {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .loginbtn{
        height: 50px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .GroupImg {
      display: none;
    }
    .footer{
      padding: 0 60px;
      justify-content: center;

      button{
        height: 50px;
        width: 300px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
        &:nth-of-type(2){
          display: none;
        }
        a{
          width: 100%!important;
          height: 100%!important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .Enter{
    background-size: 100% 100%;
    background-position: 50% 50%;
    min-height: 800px;
    h3 {
      padding: 10px;
      font-size: 28px;
      line-height: 28px;
      margin: 25px 0;
    }

    .Signbox {
      width: 496px;
      min-height: 450px;
      margin: 50px auto 0 auto;

      .Logo {
        width: 153px;
        height: 173px;
      }

      input {
        height: 50px;
        padding: 0 72px 0 22px;
        border-radius: 40px;
        margin-bottom: 26px;

        &::placeholder {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .loginbtn{
        height: 50px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .footer{
      padding: 0 50px;
      justify-content: center;
      bottom: 9%;

      button{
        height: 50px;
        width: 300px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;

        &:nth-of-type(2){
          display: none;
        }
        a{
          width: 100%!important;
          height: 100%!important;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .Enter{
    min-height: 820px;
    h3 {
      font-size: 30px;
      line-height: 30px;
      margin: 25px 0;
    }

    .Signbox {
      width: 496px;
      min-height: 450px;
      margin: 50px auto 0 auto;

      .Logo {
        width: 153px;
        height: 173px;
      }

      input {
        height: 50px;
        padding: 0 72px 0 22px;
        border-radius: 40px;
        margin-bottom: 26px;

        &::placeholder {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .loginbtn{
        height: 50px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .footer{
      padding: 0 60px;

      button{
        height: 50px;
        width: 300px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
        a{
          width: 100%!important;
          height: 100%!important;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .Enter{

    h3 {
      font-size: 34px;
      line-height: 44px;
      margin: 30px 0 30px 0;
    }

    .Signbox {
      width: 496px;
      min-height: 450px;
      margin: 50px auto 0 auto;

      .Logo {
        width: 153px;
        height: 173px;
      }

      input {
        height: 50px;
        padding: 0 72px 0 22px;
        border-radius: 40px;
        margin-bottom: 26px;

        &::placeholder {
          font-size: 18px;
          line-height: 21px;
        }
      }

      .loginbtn{
        height: 50px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .footer{
      padding: 0 60px;

      button{
        height: 50px;
        width: 300px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 21px;
        a{
          width: 100%!important;
          height: 100%!important;
        }
      }
    }
  }
}